<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <connectionStrings>
    <add name="studentDBConnectionString" connectionString="Data Source=Media.ruppin.ac.il;Initial Catalog=igroup92_prod;            User ID=igroup92;Password=igroup92_79927" providerName="System.Data.SqlClient"/>
    <add name="Excel03ConString" connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source={0};                          Extended Properties='Excel 8.0;HDR={1}'"/>
    <add name="Excel07ConString" connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source={0};                          Extended Properties='Excel 8.0;HDR={1}'"/>
  </connectionStrings>
  <system.web>
    <compilation debug="true" targetFramework="4.5"/>
    <httpRuntime targetFramework="4.5"/>
  </system.web>
  <appSettings>
    <add key="ValidationSettings:UnobtrusiveValidationMode" value="None"/>
    <add key="FolderPath" value="Upload/"/>
  <add key="localhost.WebService" value="http://localhost:50637/WebService.asmx"/>
  </appSettings>
</configuration>